@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}


.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-up($next) {
        flex-wrap: nowrap;
        justify-content: flex-start;

        .navbar-nav {
          flex-direction: row;

          .dropdown-menu {
            position: absolute;
          }

          .nav-link {
            padding-right: var(--#{$prefix}navbar-nav-link-padding-x);
            padding-left: var(--#{$prefix}navbar-nav-link-padding-x);
          }
        }

        .navbar-nav-scroll {
          overflow: visible;
        }

        .navbar-collapse {
          display: flex !important; // stylelint-disable-line declaration-no-important
          flex-basis: auto;
        }

        .navbar-toggler {
          display: none;
        }

        .offcanvas {
          // stylelint-disable declaration-no-important
          position: static;
          z-index: auto;
          flex-grow: 1;
          width: auto !important;
          height: auto !important;
          visibility: visible !important;
          background-color: transparent !important;
          border: 0 !important;
          transform: none !important;
          @include box-shadow(none);
          @include transition(none);
          // stylelint-enable declaration-no-important

          .offcanvas-header {
            display: none;
          }

          .offcanvas-body {
            display: flex;
            flex-grow: 0;
            padding: 0;
            overflow-y: visible;
          }
        }
      }
    }
  }
}

.container-fluid
{
  background-color: #32fbe2;
  font-family: 'Roboto';
  color: #170229; 
}

#titulo{
background-color: aquamarine;
font-family: 'Roboto', sans-serif;
color:#170229;
padding: 10px; 
text-align: center; 
border-radius: 5px; 
width: 100%;
max-width: 300px;
}
#appBg{
    height: 390px;
    width: 300px;
    border: 1px;
    border-radius:5px;
    background-color: white;
}
#appBg form{
    height: 100%;
    width: 100%;
    background-color: aqua;
    flex-wrap:wrap;
    align-items:center ;
    justify-content: center;
    padding: 20px;
    box-sizing:border-box;
}
#appBg input [type="textfield"]{
 height: 80px;
 cursor: default;
 font-family: 'Roboto', sans-serif;
 color: blueviolet;
 padding: 15px;
 font-size: 24px;
 border: 0;
 outline: none;
 display: flex;
    }

#appBg input[type="button"], input[type="reset"]{
    width:21%;
    cursor:pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold ;
    color: black;
    padding: 10px;
    margin:3px;
    border:0;
    border-radius: 100%;
}
#appBg .orange{
    background-color: rgb(21, 187, 187);
    color:whitesmoke
}
#appBg .grey{
    background-color: aquamarine;
    color:whitesmoke
}
