@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-fluid {
    background-color: #32fbe2;
    font-family: 'Roboto';
    color: #170229; 
  }

  .navbar-toggler-icon {
    color: whitesmoke;
    filter: invert(1); 
    
}

#titulo {
    background-color: #32fbe2;
    font-family: 'Roboto', sans-serif;
    color: #30115e;
    padding: 10px; 
    text-align: center; 
    border-radius: 5px; 
    width: 100%;
    max-width: 300px;
    margin: 10px auto; /* Centra el título horizontalmente */
}

#appBg {
    height: 390px;
    width: 300px;
    border: 1px solid #32fbe2;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#appBg form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#appBg input[type="textfield"] {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: #170229;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #32fbe2;
    border-radius: 5px;
    background-color: #f0f0f0;
    text-align: right;
}

#appBg input[type="button"], #appBg input[type="reset"] {
    width: 21%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #32fbe2;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

#appBg input[type="button"].grey, #appBg input[type="reset"].grey {
    background-color: #32fbe2;
}

#appBg input[type="button"].orange {
    background-color: #170229;
}

#appBg input[type="button"]:hover, #appBg input[type="reset"]:hover {
    background-color: #30115e;
}

#appBg input[type="button"].grey:hover, #appBg input[type="reset"].grey:hover {
    background-color: #32fbe2;
}

#appBg input[type="button"].orange:hover {
    background-color: #170229;
}